<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Produtos</title>
    <link rel="stylesheet" href="../static/css/Cadastro.css">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Produtos com Bipador</h1>
        <form method="post">
            <label for="codigo_barras">Código de Barras:</label>
            <input type="text" id="codigo_barras" name="codigo_barras" autofocus required>

            <label for="descricao">Descrição do Produto:</label>
            <input type="text" id="descricao" name="descricao" required>

            <button type="submit">Cadastrar Produto</button>
        </form>

        {% if mensagem %}
            <p class="mensagem">{{ mensagem }}</p>
        {% endif %}
    </div>
</body>
</html>
