<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atacarejo O Barateiro</title>
  <link rel="stylesheet" href="../static//css//dashboard.css">
</head>
<body>
  <header>
    <img src="../static/assets/Logo Atacarejo.png" alt="Logo Atacarejo O Barateiro">
  </header>

  <main class="container">
    <h1>Painel de Controle</h1>
    <div class="options">
      <button id=" abrirCaixa " onclick="abrirCaixa()">🧾 Abrir Caixa</button>
      <button id=" verRelatorio " onclick="verRelatorio()">📊 Relatório de Vendas</button>
      <button id=" CadastroDeProdutos" onclick="CadastroDeProdutos()"> Cadastro de Produtos </button>
      <button id=" Produtos" onclick="CadastroDeProdutos()"> Produtos </button>

      <button id="sair" onclick="Sair()">Sair</button>
    </div>
  </main>

  <footer>
    © 2025 Atacarejo O Barateiro
  </footer>

  <script src="../static/js/dashboard.js"></script>
</body>
</html>
