<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Atacarejo</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="login-container">
        <div class="logo">
            <img src="../static/assets/Logo Atacarejo.png" alt="Logo Atacarejo">
        </div>
        <form class="login-form">
            <h2>Bem-vindo!</h2>
            <input type="text" placeholder="Usuário" required>
            <input type="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
            <p class="footer-text">Esqueceu a senha?</p>
        </form>
    </div>
</body>

</html>